{% extends "base/layout.html" %}

{% block title %}Изменение пользователя{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="form-container" style="max-width: 400px; padding: 30px; background-color: rgba(255, 255, 255, 0.9); border-radius: 12px; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);">
            <h2 class="text-center mb-4">Изменение пользователя</h2>
            <form method="post">
    {% csrf_token %}                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3" style="width: 100%;">Сохранить изменения</button>
                </div>
            </form>
            <div class="text-center mt-4">
                <a href="{% url 'admin_panel:user_list' %}" class="btn btn-secondary" style="width: 100%;">Назад к списку пользователей</a>
            </div>
        </div>
    </div>
{% endblock %}